# Yarn and npm
npm-debug.log
node_modules

# WebStorm files
.idea/*

# Vim swap files
*.swp
*.swo

# Sublime files
*.sublime-workspace

# Mac and windows files
.DS_Store
.tmp

# Grunt files
.grunt
.sass-cache

# Distribution directory
dist/build
dist_packed

# Credentials
dist/data/api-key.json
*.env