<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
      name="viewport"
    />
    <!-- prettier-ignore -->
    <link data-integrity-src="popup/popup.css" href="popup/popup.css" rel="stylesheet"/>
    <title>Steam ID Finder options</title>
    <!-- prettier-ignore -->
    <script data-integrity-src="lib/vue.production.min.js" src="lib/vue.production.min.js"></script>
  </head>
  <body>
    <div :class="{'firefox': browser === 'firefox'}" id="app">
      <h2 class="extension-name">Steam ID Finder</h2>
      <div class="header">
        Generate a SourceMod-compatible line for copied IDs
      </div>
      <fieldset class="data__fieldset">
        <legend>Flag</legend>
        <!-- prettier-ignore -->
        <a @click="openUrl" href="https://wiki.alliedmods.net/Adding_Admins_(SourceMod)">
            (Immunity number:)Flag letter(s)
        </a>
        <br />
        <input
          @keydown="updateFlag"
          class="data__flag-input"
          placeholder="Optional. Press Enter to confirm"
          type="text"
          v-model="flag"
        />
        <div>What will be copied, for the checked ID{{idPlural}} below:</div>
        <div class="data__flag-template">
          <!-- prettier-ignore -->
          &lt;ID&gt; {{flag ? toLowerCase(flag) : "[Flag]"}} // &lt;Steam name&gt; &lt;Profile link&gt;
        </div>
        <div class="data__legend">
          ( Legend: {{!flag ? "[Optional]" : ""}} &lt;Generated for checked IDs&gt; )
        </div>
      </fieldset>
      What IDs do you want the red template to be attached to, when you copy?
      <table class="data__extended">
        <tr :key="i" v-for="(id, i) in idsTutorial">
          <td>
            <label :for="id.name">
              <input
                :id="id.name"
                class="data__extended-input"
                type="checkbox"
                v-model="generateSourceModLine[i].isGenerate"
              />
              {{id.name}}
            </label>
          </td>
          <td><label :for="id.name">(e.g. {{id.template}})</label></td>
        </tr>
      </table>
    </div>
    <!-- prettier-ignore -->
    <script data-integrity-src="scripts/utilities.js" src="scripts/utilities.js"></script>
    <script data-integrity-src="popup/popup.js" src="popup/popup.js"></script>
  </body>
</html>
